{% extends "padre.html" %}

{% block titulo %}
    Iniciar Sesión
{% endblock %}

{% block contenido_que_cambia %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Iniciar Sesión</h2>
                        <form method="post" action="{% url 'iniciar_sesion' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="username" class="form-label">Nombre de Usuario:</label>
                                <input type="text" id="username" name="username" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Contraseña:</label>
                                <input type="password" id="password" name="password" class="form-control" required>
                            </div>
                            <button type="submit" class="btn btn-success">Iniciar Sesión</button>
                        </form>
                        {% if error_message %}
                            <p class="mt-3 text-danger">{{ error_message }}</p>
                        {% endif %}
                        <p class="mt-3">¿No tienes una cuenta? <a href="{% url 'registro_usuario' %}" class="btn btn-link">Regístrate</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
